.App {
    height: 100%;
    padding-top: 30px;
}

.AppContainer {
    width: 80%;
    margin: auto;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    background-color: white;
    border: 0px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #505048;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.timeline {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid white;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}


.button:hover {
    background-color: #ececec;
}

.options {
    background-color: white;
    border: 0px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #505048;
    cursor: pointer;
}

.activePoint{
    z-index: 1000;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}